.cor-1-bg {
  background-color: #5F1415;
}
.cor-2-bg {
  background-color: #FFF3BF;
}
.cor-3-bg {
  background-color: #FFC300;
}
.cor-1-text {
  color: #FFF3BF;
}
.cor-2-text {
  color: #5F1415;
}
.cor-3-text {
  color: #A86E18;
}