main {
  height: 890px;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}

main::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/detalhe-main.png") no-repeat;
  width: 600px;
  height: 600px;
  top: 640px;
}

.bg-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.text-principal {
  margin-left: 200px;
  padding-left: 200px;
  padding-right: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.text-h1 {
  font-size: 64px;
}

.text-p {
  font-size: 24px;
}

.text-secundario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-img {
  justify-self: flex-start;
}

/* MEDIA */

@media (max-width: 1680px) {
  .text-principal {
    margin-left: 100px;
  }
}
@media (max-width: 1400px) {
  .text-principal{
    margin-left: 0px;
  }
  .main-img {
    width: 500px;
    height: 500px;
    margin-top: 10px;
  }
}
@media (max-width: 1390px) {
  main::before {
    background: none;
    width: 0px;
    height: 0px;
  }
}
@media (max-width: 1140px) {
  .bg-content {
    margin-left: 0px;
    grid-template-columns: 1fr;
  }
  .text-principal {
    text-align: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .main-button {
    align-self: center;
  }
  .main-img {
    width: 500px;
    height: 500px;
    margin-top: 30px;
    justify-self: center;
  }
}
@media (max-width: 784px) {
  .text-h1 {
    font-size: 48px;
  }
  .text-p {
    font-size: 18px;
  }
}
@media (max-width: 584px) {
  main {
    height: 800px;
  }
  .text-h1 {
    font-size: 32px;
  }
  .text-p {
    font-size: 14px;
  }
}
@media (max-width: 540px) {
  main {
    height: 700px;
  }
  .main-img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
  }
}
@media (max-width: 414px) {
  main {
    height: 700px;
  }
  .main-img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 399px) {
  main {
    height: 650px;
  }
  .text-h1 {
    font-size: 28px;
  }
  .text-p {
    font-size: 12px;
  }
}