.nav-bg {
  height: 940px;
  background: url('../img/bg.png') no-repeat;
  background-size: cover;
  display: grid;
  text-align: center;
  align-items: center;
}
.nav-h1 {
  font-size: 64px;
  padding-bottom: 80px;
}
.nav-content {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
}
.carrossel-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  max-width: 1185px; 
  margin: 0 auto; 
}
.card {
  display: flex;
  transition: transform 0.5s ease;
  gap: 40px;
  box-sizing: border-box;
}
.card-content {
  width: 260px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.card-img {
  border-radius: 50px;
  margin: 19px;
}
.card-content-text {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-align: center;
}
.card-h2 {
  font-size: 20px;
}
.card-p {
  font-size: 16px;
}
.card-a {
  text-decoration: underline;
  font-size: 16px;
}
.card-a:hover {
  transform: scale(1.1);
}
.carrossel-container {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: flex-start;
  overflow-x: scroll;
  scroll-behavior: smooth; 
  -webkit-overflow-scrolling: touch;
  padding-bottom: 40px;
}
.carrossel-container::-webkit-scrollbar {
  height: 20px; 
}
.carrossel-container::-webkit-scrollbar-thumb {
  background: rgba(255, 195, 0, 0.7);
  border-radius: 50px; 
}
.carrossel-container::-webkit-scrollbar-track {
  background: rgba(217, 217, 217, 0.5); 
  border-radius: 50px;
}
.card {
  flex: 0 0 33.33%; 
}
@media (max-width: 1455px) {
  .carrossel-container {
    max-width: 870px;
  }
}
@media (max-width: 1186px) {
  .card {
    flex: 0 0 50%; 
  }
  .carrossel-container {
    max-width: 580px; 
  }
}
@media (max-width: 960px) {
  .card {
    flex: 0 0 100%; 
  }
  .carrossel-container {
    gap: 20px; 
  }
}
@media (max-width: 880px) {
  .carrossel-container {
    max-width: 280px; 
  }
}
@media (max-width: 784px) {
  .nav-h1 {
    font-size: 48px;
  }
}
@media (max-width: 555px) {
  .card-content {
    height: 380px;
  }
  .card-h2 {
    font-size: 18px;
  }
  .card-p {
    padding: 0px 20px 0px 20px;
    font-size: 12px;
  }
}
@media (max-width: 584px) {
  .nav-h1 {
    font-size: 32px;
  }
  .carrossel-container {
    gap: 2px; 
  }
}
@media (max-width: 399px) {
  .nav-h1 {
    font-size: 28px;
  }
}