.section-bg {
  height: 940px;
  text-align: center;
  position: relative;
}

.section-bg::before {
  content: '';
  display: block;
  position: absolute;
  background: url('../img/detalhe-main.png') no-repeat;
  width: 500px;
  height: 500px;
  top: 690px;
}

.section-bg::after {
  content: '';
  display: block;
  position: absolute;
  background: url('../img/detalhe-section-2.png') no-repeat;
  width: 246px;
  height: 246px;
  right: 60px;
  top: 60px;
}

.section-content {
  display: grid;
  justify-content: center;
}

.section-h1 {
  margin-top: 100px;
}

.section-h2 {
  margin-top: 84px;
}

.input {
  margin-top: 52px;
  display: flex;
  gap: 40px;
}

input {
  height: 52px;
  border: 5px solid #ffc300;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 24px;
}

.nome {
  width: 240px;
}

.email {
  width: 420px;
}

.textarea-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 720px;
  margin-top: 52px;
  border: 5px solid #ffc300;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 24px;
}

::-webkit-input-placeholder {
  font-size: 24px;
}

input:focus,
textarea:focus {
  outline: 0;
}

.button-section {
  margin-top: 52px;
}